/vendor/bin
/vendor/brick
/vendor/doctrine
/vendor/dragonmantank
/vendor/egulias
/vendor/fzaninotto
/vendor/hamcrest
/vendor/laravel
/vendor/mockery
/vendor/monolog
/vendor/myclabs
/vendor/nesbot
/vendor/phar-io
/vendor/phpdocumentor
/vendor/phpoption
/vendor/phpspec
/vendor/phpunit
/vendor/psr
/vendor/sebastian
/vendor/theseer
/vendor/vlucas
/vendor/voku
/vendor/webmozart
/.idea
Homestead.json
Homestead.yaml

.phpunit.result.cache
